[package]
name = "cargo-cyclonedx"
version = "0.3.4"
authors = [ "Steve Springett <steve.springett@owasp.org>" ]
license = "Apache-2.0"
edition = "2018"

description = "CycloneDX Software Bill of Materials (SBOM) for Rust Crates"
homepage = "https://cyclonedx.org/"
repository = "https://github.com/CycloneDX/cyclonedx-rust-cargo"
readme = "README.md"

categories = ["command-line-utilities", "development-tools", "development-tools::cargo-plugins"]
keywords = ["sbom", "bom", "components", "dependencies", "owasp"]

[[bin]]
name = "cargo-cyclonedx"
path = "src/main.rs"

[profile.release]
lto = true

[dependencies]
anyhow = "1.0.57"
cargo = "0.61.1"
cargo_metadata = "0.14.2"
clap = { version = "3.1.15", features = ["derive"] }
env_logger = "0.9.0"
lazy_static = "1.4.0"
log = "0.4.17"
packageurl = "0.3.0"
regex = "1.5.5"
serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.81"
thiserror = "1.0.31"
time = { version = "0.3.9", features = ["serde", "serde-well-known"] }
toml_edit = { version = "0.13.4", features = ["serde", "easy"] }
uuid = { version = "1.0.0", features = ["serde", "v4"] }
xml_writer = "0.4.0"
