[package]
name = "cargo-cyclonedx"
version = "0.3.7"
authors = [ "Steve Springett <steve.springett@owasp.org>" ]
license = "Apache-2.0"
edition = "2018"
rust-version = "1.64.0"

description = "CycloneDX Software Bill of Materials (SBOM) for Rust Crates"
homepage = "https://cyclonedx.org/"
repository = "https://github.com/CycloneDX/cyclonedx-rust-cargo"
readme = "README.md"

categories = ["command-line-utilities", "development-tools", "development-tools::cargo-plugins"]
keywords = ["sbom", "bom", "components", "dependencies", "owasp"]

[[bin]]
name = "cargo-cyclonedx"
path = "src/main.rs"

[profile.release]
lto = true

[dependencies]
anyhow = "1.0.66"
cargo = "0.66.0"
clap = { version = "4.0.24", features = ["derive"] }
cyclonedx-bom = { version = "0.4.0", path = "../cyclonedx-bom" }
env_logger = "0.9.3"
log = "0.4.17"
once_cell = "1.16.0"
regex = "1.7.0"
serde = { version = "1.0.147", features = ["derive"] }
thiserror = "1.0.37"
toml_edit = { version = "0.14.4", features = ["serde", "easy"] }
validator = { version = "0.16.0" }

[dev-dependencies]
assert_cmd = "2.0"
predicates = "2.1.3"
assert_fs = "1.0.7"
