[package]
name = "cyclonedx-bom"
version = "0.3.2"
license = "Apache-2.0"
edition = "2018"
rust-version = "1.60.0"

description = "CycloneDX Software Bill of Materials Library"
homepage = "https://cyclonedx.org/"
repository = "https://github.com/CycloneDX/cyclonedx-rust-cargo"
readme = "README.md"

categories = []
keywords = ["sbom", "bom", "components", "dependencies", "owasp"]

[dependencies]
base64 = "0.13.0"
http = "0.2.6"
once_cell = "1.13.1"
packageurl = "0.3.0"
regex = "1.6.0"
serde = { version = "1.0.144", features = ["derive"] }
serde_json = "1.0.85"
spdx = "0.9.0"
thiserror = "1.0.32"
time = { version = "0.3.14", features = ["formatting", "parsing"] }
uuid = { version = "1.1.2", features = ["v4"] }
xml-rs = "0.8.4"

[dev-dependencies]
insta = { version = "1.19.1", features = ["glob", "json"] }
pretty_assertions = "1.2.1"
