[package]
name = "cyclonedx-bom"
version = "0.3.1"
license = "Apache-2.0"
edition = "2018"

description = "CycloneDX Software Bill of Materials Library"
homepage = "https://cyclonedx.org/"
repository = "https://github.com/CycloneDX/cyclonedx-rust-cargo"
readme = "README.md"

categories = []
keywords = ["sbom", "bom", "components", "dependencies", "owasp"]

[dependencies]
base64 = "0.13.0"
license-exprs = "1.6.0"
once_cell = "1.10.0"
packageurl = "0.3.0"
serde = "1.0.137"
serde_json = "1.0.79"
thiserror = "1.0.31"
time = "0.3.9"
url = "2.2.2"
uuid = "1.0.0"
xml-rs = "0.8.4"

[dev-dependencies]
insta = "1.14.0"
