name: Deploy cargo-cyclonedx to Crates.io

on:
  workflow_dispatch:
    inputs:
      releaseType:
        description: "cargo-cyclonedx release type (major, minor, patch)"
        required: true
        default: "patch"

jobs:
  deploy:
    runs-on: ubuntu-latest
    outputs:
      TAG_NAME: ${{ steps.version.outputs.TAG_NAME }}
    steps:
      - name: JQ
        run: |
          sudo apt-get install -y jq
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Cargo bump
        run: |
          cargo install cargo-edit
          cargo set-version --package cargo-cyclonedx --bump ${{ github.event.inputs.releaseType }}

      - name: Set new version and tag
        run: |
          CARGO_VERSION=$(cargo metadata | jq -r '.packages[] | select(.name == "cargo-cyclonedx") | .version')
          echo "CARGO_VERSION=$CARGO_VERSION" >> $GITHUB_OUTPUT
          TAG_NAME=cargo-cyclonedx-$CARGO_VERSION
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_OUTPUT
        id: version

      - name: Build one time, for sanity
        run: cargo build

      - name: Publish
        run: cargo publish --token ${{ secrets.CARGO_API_KEY }} --package cargo-cyclonedx --verbose

      - name: Configure git and add files
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit -am "New development bump of cargo-cylonedx to ${{steps.version.outputs.CARGO_VERSION}}"
          git tag -a "${{steps.version.outputs.TAG_NAME}}" -m "cargo-cyclonedx ${{steps.version.outputs.CARGO_VERSION}} release"
          git push --follow-tags

  build-prod:
    name: Build prod - ${{ matrix.name }}
    needs: deploy
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux-amd64
            runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            bin: cargo-cyclonedx
            zip: cargo-cyclonedx-linux-amd64.tar.gz
          - name: win-amd64
            runner: windows-latest
            target: x86_64-pc-windows-msvc
            bin: cargo-cyclonedx.exe
            zip: cargo-cyclonedx-Win-x86_64.zip
          - name: macos-amd64
            runner: macos-latest
            target: x86_64-apple-darwin
            bin: cargo-cyclonedx
            zip: cargo-cyclonedx-Darwin-x86_64.tar.gz
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout release tag
        run: |
          git checkout ${{ needs.deploy.outputs.TAG_NAME }}
          git status

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: "${{ matrix.target }}"

      - uses: Swatinem/rust-cache@v2

      - name: Build ${{ matrix.name }} binary
        run: cargo build --verbose --locked --release --target ${{ matrix.target }}

      - name: Package as archive
        shell: bash
        run: |
          mkdir out
          cd target/${{ matrix.target }}/release
          if [[ "${{ matrix.runner }}" == "windows-latest" ]]; then
            7z a ../../../out/${{ matrix.zip }} ${{ matrix.bin }}
          else
            tar czvf ../../../out/${{ matrix.zip }} ${{ matrix.bin }}
          fi

      - uses: actions/upload-artifact@v3
        with:
          name: cyclonedx-${{ matrix.target }}
          path: "out/*"

  release:
    needs: [deploy, build-prod]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          path: artifacts

      - name: Review and move artifacts
        run: |
          mkdir dist
          find artifacts -type f -exec mv {} dist \;
          for file in dist/*; do
            sha256sum "$file" > "${file}.sha256"
          done

      - name: Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: "${{ needs.deploy.outputs.TAG_NAME }}"
          tag_name: ${{ needs.deploy.outputs.TAG_NAME }}
          files: "dist/*"
