name: "Nix Flake CI"

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  tests:
    name: Nix Flake Build & Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.0.2
    - uses: cachix/install-nix-action@v21
    - run: nix build
    - run: nix flake check
